@model wa_panel_store.Models.cUser

@{
    ViewBag.Title = "LogInPage";
}


<h3>Log In</h3>

@using (@Html.BeginForm("LogInPage", "Log", FormMethod.Post))
{
    <form class="form-horizontal" method="post">
        <fieldset>

            @if (Model.p_b_user_login_error)
            {
                Model.p_b_remember_me = false;
                Model.p_s_user_password = String.Empty;
                <p class="text-danger">Email and/or password are incorrect.</p>
            }

            <div class="form-group">
                <label for="userName" class="col-lg-2 control-label">User Email</label>
                <div class="col-lg-10">
                    @*<input type="text" class="form-control" id="inputName" placeholder="User Name">*@
                    @Html.EditorFor(m => m.p_s_user_email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label for="userPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                    @Html.EditorFor(m => m.p_s_user_password, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
            </div>

                        
            <div class="form-group">            
                <label for="userRememberMe" class="col-lg-2 control-label">Remember me</label>            
                <div class="col-lg-10">                
                    @Html.CheckBoxFor(m => m.p_b_remember_me, new { htmlAttributes = new { @class = "form-control" } })            
                </div>        
            </div>

            
            <p>Not registered yet? <a href="#">@Html.ActionLink("Register User", "RegisterUser", "Log")</a></p>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" value="reset">Reset</button>
                    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                </div>
            </div>

        </fieldset>


    </form>
}
